body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    color: maroon;
    font-family: Arial;
    margin: 10px 20px 48px;
}

div.menu {
    border: 5px solid rgba(128, 0, 0, 0.653);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background-color: rgba(153, 130, 206, 0.451);
}

a {
    color: maroon;
    transition: 1s 0.8s;
}

a:link {
    color: maroon;
}

a:visited {
    color: rgb(112, 37, 202);
}

header {
    background-color: rgb(198, 173, 230);
    color: rgb(92, 90, 217);
    font-family: Arial;
    margin: 0px;
    padding: 15px;
    height: 30px;
}

footer {
    background-color: rgb(198, 173, 230);
    color: rgb(92, 90, 217);
    font-family: Arial;
    margin: 0px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}